<div class="table-responsive">
  <table class="table table-sm table-hover dtable" id="letterOfCreditTable">
    <thead class="thead-light">
      <tr>
        <th>client name <sup class="ml-1"><i class="fas fa-comment-alt"></i></sup></th>
        <th>type of lc <sup class="ml-1"><i class="fas fa-comment-alt"></i></sup></th>
        <th>maturity date</th>
        <th>nominal amount</th>
        <th>original currency</th>
        <th>client id</th>
        <th>matchcodes</th>
      </tr>
    </thead>
    <tbody>
      <tr><td colspan="5" style="text-align: center;">No data available</td></tr>
    </tbody>
  </table>
</div>
