<h5>Economic calendar</h5>
<p>Preview of the most relevant economic events over the coming four weeks. The estimated impact refers to the
  volatility of the affected currency if the actual result differs significantly from market expectation. <a
    target="_blank" href="https://www.forexfactory.com/calendar.php">Source</a></p>
<div class="table-responsive">
  <table class="table table-sm table-hover dtable" id="economicEvenetCalendar">
    <thead class="thead-light">
      <tr>
        <th>date</th>
        <th>event</th>
        <th>affected currency</th>
        <th>estimated impact</th>
        <th>forecast</th>
        <th>previous</th>
        <th>link</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="7" style="text-align: center;">No data available</td>
      </tr>
    </tbody>
  </table>
</div>