<h5>Technical analysis</h5>
<p>The buy/sell sentiment for the following currencies recently changed. The sentiment was determined by a MACD
  analysis.</p>

<div class="form-inline mb-3">
  <div class="form-group">
    <select id="technicalAnalysisCurrencySelect" class="form-control">
    </select>
  </div>
  <div class="form-group ml-3">
    <div id="btnFXChart" class="btn btn-light shadow-sm cursor-pointer" onclick="">show potential target clients</div>
  </div>
  <div class="form-group ml-3">
    <label id="technicalAnalysisChartLabel" class="font-weight-bold"></label>
  </div>
</div>

<div class="">
  <div style="height: 250px;">
    <canvas id="LineChart"></canvas>
  </div>
  <div style="height: 125px:">
    <canvas id="macdChart"></canvas>
  </div>
</div>