<div class="card border-0 h-100 shadow">
  <div class="card-body">
    <a href="" class="text-decoration-none small float-right" routerLink="/index/maturities">show maturities for all
      clients <i class="fas fa-angle-right"></i></a>
    <div class="font-weight-bold text-muted mb-2">Active trades</div>
    <div class="table-responsive">
      <table class="table table-sm table-hover dtable" id="activeTradesTable">
        <thead class="thead-light">
          <tr>
            <th>trade id</th>
            <th>product <sup class="ml-1"><i class="fas fa-comment-alt"></i></sup></th>
            <th>strategy</th>
            <th>currency pair</th>
            <th>trade rate</th>
            <th>notional</th>
            <th>maturity date</th>
            <th>present value <sup class="ml-1"><i class="fas fa-comment-alt"></i></sup></th>
            <th>underlying</th>
            <th>asset class</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="5" style="text-align: center;">No data available</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
