<div class="card border-0 h-100 text-left accent-danger shadow">
  <div class="card-header bg-white text-danger border-bottom-0">
    <i class="float-right fas fa-exclamation-triangle" style="font-size: 1.25rem;"></i>
    <h5 class="card-title mb-0">{{title}}</h5>
  </div>
  <div class="card-body py-0">
    <p class="card-text">{{text}}</p>
  </div>
  <div class="card-footer bg-white border-top-0">
    <a class="btn btn-sm btn-light btn-block p-1 shadow-sm" [routerLink]="getRoute()">Show me</a>
  </div>
</div>
