<div class="card border-0 shadow">
  <div class="card-body">
    <i class="user-guide-helper float-right btn btn-sm text-secondary far fa-question-circle cursor-pointer" (click)="showUserguide('#unusual-trades')"></i>
    <h2 class="sub_header">UNUSUAL TRADES</h2>

    <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
      <label class="btn btn-light btn-sm shadow-sm cursor-pointer active" (click)="updateTimeframe(7)">
        <input type="radio" checked> last week
      </label>
      <label class="btn btn-light btn-sm shadow-sm cursor-pointer" (click)="updateTimeframe(31)">
        <input type="radio"> last month
      </label>
    </div>
    <p>Your clients' recent activity not in line with past trades. Trades detected here may indicate e.g. a lot-size
      that the client is usually trading with other banks.</p>
    <app-unusual-trades-table *ngIf="dataRetrieved" [data]="unsualTradesData" [search]="search"></app-unusual-trades-table>
  </div>
</div>