<div class="table-responsive">
  <table class="table table-sm table-hover dtable" id="limitWarningTable">
    <thead class="thead-light">
      <tr>
        <th>client name <sup class="ml-1"><i class="fas fa-comment-alt"></i></sup></th>
        <th>fraction of limit utilized</th>
        <th>near limit since</th>
        <th>client id</th>
        <th>matchcodes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="3" style="text-align: center;">No data available</td>
      </tr>
    </tbody>
  </table>
</div>