<div class="card border-0 h-100 shadow">
  <div class="card-body">
    <a href="" class="text-decoration-none small float-right" routerLink="/index/foreignExchangeExposure">show exposure
      for all clients <i class="fas fa-angle-right"></i></a>
    <div class="font-weight-bold text-muted mb-2">Foreign exchange exposure</div>
    <p>Currency pairs traded within the last 24 months aggregated from the client's forward, spot and option trades. Outstanding volume is the sum of all notionals of active trades. Use quotation marks to search for specific trade directions (e.g. "buy GBP").</p>
    <div class="table-responsive">
      <table class="table table-sm table-hover dtable w-100" id="foreignExchangeTransactionsTable">
        <thead class="thead-light">
          <tr>
            <th>currency pair</th>
            <th>volume traded last 24m</th>
            <th>outstanding volume</th>
            <th>count</th>
            <th>average rate</th>
            <th>overview <sup class="ml-1"><i class="fas fa-comment-alt"></i></sup></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="6" style="text-align: center;">No data available</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
