<div class="card border-0 h-100 shadow">
  <div class="card-body">
    <a href="" class="text-decoration-none small float-right" routerLink="/index/loans">show new and maturing loans for
      all clients <i class="fas fa-angle-right"></i></a>
    <div class="font-weight-bold text-muted mb-2">Loans</div>
    <p>The client's loans with UniCredit Bank AG.</p>
    <div class="table-responsive">
      <table class="table table-sm table-hover dtable" id="loansTable">
        <thead class="thead-light">
          <tr>
            <th>loan type</th>
            <th>maturity date</th>
            <th>current balance <sup class="ml-1"><i class="fas fa-comment-alt"></i></sup></th>
            <th>rate conditions <sup class="ml-1"><i class="fas fa-comment-alt"></i></sup></th>
            <th>original nominal</th>
            <th>interest rate index</th>
            <th>spread</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="4" style="text-align: center;">No data available</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>