<div class="card border-0 h-100 shadow">
  <div class="card-body">
    <h5 class="card-title">Traded currencies</h5>
    <p>Traded volumes by currency for all FX trades.</p>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="selectCurrency"><i class="fas fa-yen-sign"></i></label>
      </div>
      <select class="custom-select" id="selectCurrency" #s (change)="modifyChart(s.value)">
        <option selected disabled>Choose currency...</option>
        <option *ngFor="let ccy of objectKeys(data)">{{ccy}}</option>
      </select>
    </div>
    <div style="width:100%; height: 250px;">
      <canvas id="cts_mgmt_trade_currencies_graph"></canvas>
    </div>
  </div>
</div>