<div class="card border-0 h-100 shadow">
  <div class="card-body">
    <h5 class="card-title">Earnigns by sector</h5>
    <p>Number of client and median earnings by sector for this region. Numbers in brackets indicate the change over the
      last 12 months.</p>
    <div class="table-responsive">
      <table class="table table-sm table-hover dtable" id="tableEarningsSector">
        <thead class="thead-light">
          <tr>
            <th>sector</th>
            <th>number of active clients</th>
            <th>yearly median earnings per active client</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>