<div class="card border-0 h-100 shadow">
  <div class="card-body">
    <h5 class="card-title">Trending products</h5>
    <p>Products that recently traded above or below the long time average (baseline) for multiple consecutive days.
      Numbers indicate trades per day.</p>
    <div class="table-responsive table-compact">
      <table class="table table-sm table-hover dtable" id="trendingProducts">
        <thead class="thead-light">
          <tr>
            <th>trend</th>
            <th>product</th>
            <th>deviation from baseline</th>
            <th>baseline (std)</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>