<div class="table-responsive">
  <table class="table table-sm table-hover dtable" id="clientEarningsTable">
    <thead class="thead-light">
      <tr>
        <th>client name <sup class="ml-1"><i class="fas fa-comment-alt"></i></sup></th>
        <th>earnings (4Q)</th>
        <th>earnings trend</th>
        <th>year-to-date</th>
        <th>year-to-date (previous)</th>
        <th>client id</th>
        <th>matchcodes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="5" style="text-align: center;">No data available</td>
      </tr>
    </tbody>
  </table>
</div>