<div class="table-responsive">
    <table class="table table-sm table-hover dtable w-100" id="commodityExposureTable">
      <thead class="thead-light">
        <tr>
          <th>commodity</th>
          <th>client name <sup class="ml-1"><i class="fas fa-comment-alt"></i></sup></th>
          <th>total traded volume</th>
          <th>outstanding volume</th>
          <th>total count</th>
          <th>overview <sup class="ml-1"><i class="fas fa-comment-alt"></i></sup></th>
          <th>client id</th>
          <th>matchcodes</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="6" style="text-align: center;">No data available</td>
        </tr>
      </tbody>
    </table>
  </div>