<div class="table-responsive">
  <table class="table table-sm table-hover dtable" id="maturingQuotesTable">
    <thead class="thead-light">
      <tr>
        <th>client name <sup class="ml-1"><i class="fas fa-comment-alt"></i></sup></th>
        <th>product</th>
        <th>currency pair</th>
        <th>request date</th>
        <th>requested maturity date</th>
        <th>days remaining</th>
        <th>requested notional</th>
        <th>client id</th>
        <th>matchcodes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="7" style="text-align: center;">No data available in table</td>
      </tr>
    </tbody>
  </table>
</div>