<div class="row mb-3">
  <div class="col">
    <a data-toggle="collapse" href="#maturitiesTreemap" class="text-decoration-none small float-right">toggle quick overview <i class="fas fa-angle-down"></i></a>
    <!-- <button class="btn btn-primary btn-sm float-right shadow-sm" data-toggle="collapse" href="#maturitiesTreemap" -->
      <!-- role="button" aria-expanded="false" aria-controls="maturitiesTreemap">toggle quick overview</button> -->
  </div>
</div>

<div class="card border-0 shadow-sm mb-3 collapse show" id="maturitiesTreemap">
  <div class="card-header bg-white border-bottom-0">
    Legend:
    <span class="badge text-light mx-1" id="days_remaining_0" style="background: #3182bd">0 days remaining</span>
    <span class="badge text-dark mx-1" id="days_remaining_1" style="background: #6baed6">1 days remaining</span>
    <span class="badge text-dark mx-1" id="days_remaining_2" style="background: #9ecae1">2 days remaining</span>
    <span class="badge text-light mx-1" id="days_remaining_3" style="background: #e6550d">3 days remaining</span>
    <span class="badge text-dark mx-1" id="days_remaining_4" style="background: #fd8d3c">4 days remaining</span>
    <span class="badge text-dark mx-1" id="days_remaining_5" style="background: #fdae6b">5 days remaining</span>
    <span class="badge text-light mx-1" id="days_remaining_6" style="background: #31a354">6 days remaining</span>
    <span class="badge text-dark mx-1" id="days_remaining_7" style="background: #74c476">7 days remaining</span>
    <span class="badge text-dark mx-1" id="days_remaining_8" style="background: #a1d99b">8 days remaining</span>
    <span class="badge text-light mx-1" id="days_remaining_9" style="background: #756bb1">9 days remaining</span>
    <span class="badge text-dark mx-1" id="days_remaining_10" style="background: #9e9ac8">10 days remaining</span>
    <span class="badge text-dark mx-1" id="days_remaining_11" style="background: #bcbddc">11 days remaining</span>
    | box size proportional to notional | hover boxes for details
  </div>
  <div class="card-body">
    <div id="chart" style="width: 100%; height: 500px; overflow: hidden; position: relative;"></div>
  </div>
</div>