<div class="navbar navbar-sonar fixed-top">
  <a class="navbar-brand" [routerLink]="redirectUrl"> 
    <span style="vertical-align: middle; display: inline-block; height: 100%"></span>
    <img src="assets/img/static/logoHiRes.png" width="136px" alt="" class="pr-3">
    <img src="assets/img/static/SONAR_favicon_196x196.png" height="60px" alt="">
  </a>

  <form class="form-inline header-form pr-2 mb-1">
    <app-settings></app-settings>
    <app-coverage-dropdown></app-coverage-dropdown>
    <app-searchbar></app-searchbar>
  </form>

</div>