<div class="card border-0 h-100 shadow">
  <div class="card-body">
    <div class="font-weight-bold text-muted mb-2">Potential additional foreign exchange exposure</div>
    <p>Currencies that the client is likely to have an exposure to and products the client might be interested in
      trading with us. The <em>very high</em> propensity category also contains currencies that the client either has a
      current account or requested a quote for in the past.</p>
  </div>
  <div class="bg-light p-3">
    <!-- <div class="px-1 text-secondary" style="font-size: 12px;">double-click to reset map</div> -->
    <div id="potentialForeignExchangeExposureChartContainer">
      <div id="potentialForeignExchangeExposureChart"
        style="width: 100%; height: 400px; overflow: hidden; position: relative;"></div>
    </div>
    <div class="container">
      <div class="row datamap-custom-legend">
        <div class="col"><i class="fa fa-circle" style="color: #1f78b4;"></i> CTS trade within the last 24 months</div>
        <div class="col"><i class="fa fa-circle" style="color: #e12200;"></i> very high propensity</div>
        <div class="col"><i class="fa fa-circle" style="color: #F57600;"></i> high propensity</div>
        <div class="col"><i class="fa fa-circle" style="color: #FAC400;"></i> moderate propensity</div>
      </div>
    </div>
  </div>
</div>