<div class="card border-0 shadow">
  <div class="card-body">
    <i class="user-guide-helper float-right btn btn-sm text-secondary far fa-question-circle cursor-pointer"
      (click)="showUserguide('#hedging-opportunities')"></i>
    <h2 class="sub_header">HEDGING OPPORTUNITIES</h2>

    <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
      <label class="btn btn-light btn-sm shadow-sm cursor-pointer active" (click)="updateTimeframe(7)">
        <input type="radio" checked> last week
      </label>
      <label class="btn btn-light btn-sm shadow-sm cursor-pointer" (click)="updateTimeframe(31)">
        <input type="radio"> last month
      </label>
    </div>
    <p>The following clients recently traded three or more FX spots with us within a 30 day period. They may benefit
      from hedging via forwards or options instead.</p>
    <app-hedging-opportunities-table *ngIf="dataRetrieved" [data]="hedgingOpportunitiesData" [search]="search">
    </app-hedging-opportunities-table>

  </div>
</div>