<div class="table-responsive">
  <table class="table table-sm table-hover dtable" id="maturingLoansTable">
    <thead class="thead-light">
      <tr>
        <th>client name <sup class="ml-1"><i class="fas fa-comment-alt"></i></sup></th>
        <th>loan type</th>
        <th>maturity date</th>
        <th>original nominal amount</th>
        <th>interest rate <sup class="ml-1"><i class="fas fa-comment-alt"></i></sup></th>
        <th>client id</th>
        <th>matchcodes</th>
        <th>interest rate index</th>
        <th>spread</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="5" style="text-align: center;">No data available</td>
      </tr>
    </tbody>
  </table>
</div>