<div class="card h-100 border-0 shadow">
  <div class="card-body p-2">
    <div class="font-weight-light text-muted mb-2">Most likely next trade</div>
    <!-- adjust as required -->
    <p class="text-center">
      <span data-toggle='tooltip' data-placement='auto' data-container='false' data-html='true' title='{{nextTrade.details}}'>
        <a href='javascript:void(0)' class="small font-weight-bold cursor-default text-decoration-none">{{nextTrade.product}}</a>
      </span>
    </p>
  </div>
</div>