<div class="table-responsive">
  <table class="table table-sm table-hover dtable" id="maturitiesTable">
    <thead class="thead-light">
      <tr>
        <th>client name <sup class="ml-1"><i class="fas fa-comment-alt"></i></sup></th>
        <th>matchcodes</th>
        <th>trade id</th>
        <th>product <sup class="ml-1"><i class="fas fa-comment-alt"></i></sup></th>
        <th>currency pair</th>
        <th>trade rate</th>
        <th>notional</th>
        <th>maturity date</th>
        <th>client id</th>
        <th>underlying</th>
        <th>strategy</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="7" style="text-align: center;">No data available in table</td>
      </tr>
    </tbody>
  </table>
</div>