<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="IE redirect" enabled="true" stopProcessing="true">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_USER_AGENT}" pattern="(MSIE)|(rv\:11\.0)|(Edge)"/>
            <add input="{REQUEST_FILENAME}" pattern="msie\.html" negate="true" />
          </conditions>
          <action type="Redirect" url="/sonar/msie.html"/>
        </rule>
        <rule name="login.html redirect" enabled="true" stopProcessing="false">
          <match url="login\.html"/>
          <action type="Redirect" url="/sonar/login"/>
        </rule>
        <rule name="Angular Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/sonar/" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>