<div class="card border-0 h-100 shadow">
  <div class="card-body p-2">
    <div class="font-weight-light text-muted mb-2">Asset class coverage</div>
    <!-- adjust as required -->
    
    <span data-toggle='tooltip' data-placement='auto' data-container='false' data-html='true' title='{{badge.forex.description}}'>
      <span class="badge shadow-sm {{badge.forex.color}} cursor-default">Forex</span>
    </span>

    <span data-toggle='tooltip' data-placement='auto' data-container='false' data-html='true' title='{{badge.fixedIncome.description}}'>
      <span class="badge shadow-sm {{badge.fixedIncome.color}} cursor-default">Fixed income</span>
    </span>

    <span data-toggle='tooltip' data-placement='auto' data-container='false' data-html='true' title='{{badge.equities.description}}'>
      <span class="badge shadow-sm {{badge.equities.color}} cursor-default">Equities</span>
    </span>

    <span data-toggle='tooltip' data-placement='auto' data-container='false' data-html='true' title='{{badge.credit.description}}'>
      <span class="badge shadow-sm {{badge.credit.color}} cursor-default">Credit</span>
    </span>

    <span data-toggle='tooltip' data-placement='auto' data-container='false' data-html='true' title='{{badge.commercial.description}}'>
      <span class="badge shadow-sm {{badge.commercial.color}} cursor-default">Commercial</span>
    </span>

    <span data-toggle='tooltip' data-placement='auto' data-container='false' data-html='true' title='{{badge.capitalMarkets.description}}'>
      <span class="badge shadow-sm {{badge.capitalMarkets.color}} cursor-default">Capital markets</span>
    </span>

    <span data-toggle='tooltip' data-placement='auto' data-container='false' data-html='true' title='{{badge.other.description}}'>
      <span class="badge shadow-sm {{badge.other.color}} cursor-default">Other</span>
    </span>
  </div>
</div>
