<div class="table-responsive">
  <table class="table table-sm table-hover dtable" id="activeForeignCurrentAccountsTable">
    <thead class="thead-light">
      <tr>
        <th>client name <sup class="ml-1"><i class="fas fa-comment-alt"></i></sup></th>
        <th>original balance</th>
        <th>balance in EUR</th>
        <th>mean balance change per day</th>
        <th>client id</th>
        <th>matchcodes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td colspan="4" style="text-align: center;">No data available</td>
      </tr>
    </tbody>
  </table>
</div>