<div class="card border-0 h-100 shadow">
  <div class="card-body">
    <a href="" class="text-decoration-none small float-right" routerLink="/index/forexMarkup">show global statistics <i
        class="fas fa-angle-right"></i></a>
    <div class="font-weight-bold text-muted mb-2">Foreign exchange markup statistics</div>
    <p>Average markup compared to peer group for FX Spot and Forward trades within the last 24 months. A negative markup
      difference indicates that the client paid less than what its peers paid for similar trades.</p>
    <div class="table-responsive">
      <table class="table table-sm table-hover dtable" id="markupStatisticsTable">
        <thead class="thead-light">
          <tr>
            <th>currency pair</th>
            <th>average markup paid</th>
            <th>markup difference to peer group</th>
            <th>average markup paid in pips</th>
            <th>markup difference to peer group in pips</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="3" style="text-align: center;">No data available</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>